body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(#282b2d);
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 1000;
  background: rgba(40, 43, 45, 1);
  border-radius: 10px;
}

.navbar-logo {
  left: 75px;
  margin-top: 20px;
  position: absolute;
  cursor: pointer;
}

.navbar-logo img {
  height: 125px;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  list-style: none;
}

.navbar li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-hero-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10%;
  font-weight: 600;
  background-color: white;
  color: rgb(35, 31, 35);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 50px;
  width: 200px;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  color: black;
  background-image: url(background.jpeg);
  overflow: hidden;
}

.hero-section-1 {
  margin-top: 80px;
  display: flex;
  height: 50%;
  width: 100%;
  background-image: url("hero4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section-2 {
  margin-top: 10px;
  display: flex;
  height: 50%;
  width: 100%;
  background-image: url("hero5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  opacity: 100%;
  z-index: 0;
  opacity: 50%;
}

.hero-image img {
  width: 60%;
  border-radius: 25%;
  overflow: hidden;
}

.hero-content {
  display: flex;
  color: black;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  margin-top: 25px;
  background-color: rgb(35, 31, 35);
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow, height 0.3s ease;
  border-radius: 20px;
  height: 50px;
  width: 225px;
}

.hero-content-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  height: 52px;
}

.services-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #282b2d;
  color: white;
}
